<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <title>The Charity</title>
  </head>
  <body class="text-center" style="background:#f5f5f5;padding-top: 10%;padding-bottom: 40px;";
        <div class="">
          <img src="images/logo.png" alt="logo" >
          <form class="form-signin" action="/" method="post" >
            <div class="form-group">
                <h1 class="h3 mb-3 font-weight-normal">For a Good Cause❤</h1><br>
                <input style="margin-bottom: -29px;border-bottom-right-radius: 0;border-bottom-left-radius: 0;" type="text" name="userName" placeholder="Name" class="form-control" autofocus autocomplete="off"><br>
                <input style="margin-bottom: -29px;border-bottom-right-radius: 0;border-bottom-left-radius: 0;" type="email" name="email" placeholder="Email" class="form-control" autocomplete="off"><br>
                <input style="margin-bottom: -29px;border-bottom-right-radius: 0;border-bottom-left-radius: 0;" type="number" name="amount" placeholder="Amount (INR)" class="form-control" autocomplete="off"><br>
                <select name="choice" class="form-control">
                    <option selected>Credit/Debit Card</option>
                    <option>Paypal</option>
                    <option>Paytm</option>
                </select><br>
                <button class="btn btn-lg btn-primary btn-block" type="submit" style="border-radius: 5px;border-style: none;font-size:20px;color: white;margin-bottom:1em">Proceed !!</button>
                <p class="mt-1 mb-3 text-muted">&copy; Tushiefer</p>
            </div>
          </form>
        </div>

  </body>
</html>
